click==8.4.1
iniconfig==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
numpy==2.4.5
packaging==26.2
pandas==3.0.3
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
python-dateutil==2.9.0.post0
regex==2026.5.9
rich==15.0.0
six==1.17.0
